title: Pigro e Passivo
description: Un blog pigro, passivo e consapevole
url: ""
baseurl: ""

lang: it
theme_skin: default

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-include-cache

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: page