title: Pigro e Passivo
description: Un blog pigro, passivo e consapevole
url: ""
baseurl: ""

plugins:
  - jekyll-remote-theme

remote_theme: jekyll-theme-so-simple
lang: it
theme_skin: default


defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: page
