title: Pigro e Passivo
description: Un blog pigro, passivo e consapevole
url: ""
baseurl: ""

remote_theme: mmistakes/so-simple-theme@3.2.0

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-include-cache

theme_skin: default
lang: it

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: page
