title: "Nomarin"
description: "Un blog molto, molto lento"
url: "https://claudiostoduto.github.io"
baseurl: "/Pigroepassivo"

# Configurazione Tema
locale: "it-IT"
# Usiamo il remote_theme per forzare GitHub a caricare i file corretti se i locali sono corrotti
remote_theme: "mmistakes/so-simple-theme"

search_full_content: true

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed

logo: "/assets/images/logo.png" # path of site logo, e.g. "/assets/images/logo.png"

google_analytics: # Google Analytics id, e.g. "UA-NNNNNNNN-N"
disqus:
  shortname: # Disqus shortname, e.g. "my_disqus_shortname"
twitter:
  username: mrclaus_xyz # site's Twitter username

# Impostazioni per i link

permalink: /:categories/:title/
paginate: 10
paginate_path: /page:num/

category_archive_path: "/categories/#"
tag_archive_path: "/tags/#"

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: pages
    values:
      layout: page

# Build settings
markdown: kramdown
feed:
  path: atom.xml

# Pagination - https://jekyllrb.com/docs/pagination/
paginate: 10
paginate_path: /page:num/

# Collections
collections:
  recipes:
    output: true
    permalink: /:collection/:path/

# Front Matter Defaults
defaults:
  # Post defaults
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      comments: true
      share: true
  # Recipe defaults
  - scope:
      path: "_recipes"
      type: recipes
    values:
      layout: post
      comments: true
      share: true

# Site Author
author:
  name: Mr. Claus
  picture: /assets/images/avatar.jpeg
  email: hello@mrclaus.xyz
  twitter: mrclaus_xyz
  links:
    - title: Twitter
      url: https://twitter.com/mrclaus_xyz
      icon: fab fa-twitter-square
    - title: Instagram
      url: https://instagram.com/mrclaus_xyz
      icon: fab fa-instagram
   

# Footer Links
footer_links:
  - title: Twitter
    url: https://twitter.com/mrclaus_xyz
    icon: fab fa-twitter-square
  - title: Instagram
    url: https://instagram.com/mrclaus_xyz
    icon: fab fa-instagram
  - title: Feed
    url: feed
    icon: fas fa-rss-square